
.list {
  max-height: 400px;
  overflow-y: scroll;
}

.refresh {
  padding: 20px;

  h2 {
    padding-right: 8px;
  }
}

.loading {
  text-align: center;
  margin: 0 auto;

  span {
    left: 50px;
    position: absolute;
    text-align: center;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(165, 167, 170);
  border-radius: 10px;
}
